{% extends "layout.html" %}
{% block status %}
<span>{{ userCount }} in mining queue, </span> 
<span>{{ miningCount }} currently mining, </span> 
<span>{{ minersStandby }} idle miners, </span> 
<span>{{ msCount }}+? success</span> 
{% endblock %}
{% block content %}

<main class="container">
	<!-- look ma, i'm git pulling -->
    <br/>
    {% if isUp == false and false %}
    <div class="alert alert-danger">Seedhelper seems to be having issues. You may be stuck waiting for the bot for a while until the issue is fixed! Uploading
        an existing part1 and having it mined should be operational. You should ask for a friend on the
        <a href="https://discord.gg/C29hYvh">Nintendo Homebrew Discord</a> and then upload the part1 here or bruteforce it yourself.</div>
    {% endif %}
	
	<div class="card-body"><div class="alert alert-danger danger-flash">
	<h1>Bruteforce Movable has been discontinued!</h1>
	<br>
	<a>This service has been shut down. There are no current methods that require it. Please visit </a><a href="https://3ds.hacks.guide" style="color: revert;text-decoration: revert;">https://3ds.hacks.guide</a> if you need an up to date guide to hacking a 3DS, or <a href="https://discord.gg/C29hYvh" style="color: revert;text-decoration: revert;">the Nintendo Homebrew discord</a> if you need help with something else.
	<br>If a video guide led you here, please consider switching to the website guide linked in the prior lines. Video guides are generally bad and should not be used under almost any circumstance.
	</div>
	<center>Credits<br>
	bruteforcemovable.com is developed by DeadPhoenix, for part1 dumping it uses the service provided by RandalHoffman ~thank you very much for that~. Essentially it is just a rewrite of Seedhelper using PHP so here are the credits for Seedhelper:<br/><br/>

                    Seedhelper is developed by
                    <a href="https://github.com/figgyc" rel="noreferrer" target="_blank">figgyc</a> and is
                    <a href="https://github.com/figgyc/seedhelper2" rel="noreferrer" target="_blank">open source</a>. Seedhelper has been possible thanks to many people:<br/>
                    <ul>
                        <li>
                            <a href="https://github.com/Pirater12" rel="noreferrer" target="_blank">@Pirater12</a> for reverse engineering frd:a and making httpc_curl to make the friend code bot
                            possible</li>
                        <li>
                            <a href="https://github.com/zoogie" rel="noreferrer" target="_blank">@zoogie</a> for creating the seedminer applications and finding the vulnerability</li>
                        <li>
                            <a href="https://github.com/Jisagi" rel="noreferrer" target="_blank">@Jisagi</a> for creating the seedminer guide</li>
                        <li>
                            <a href="https://github.com/jason0597" rel="noreferrer" target="_blank">@jason0597</a>,
                            <a href="https://github.com/knight-ryu12" rel="noreferrer" target="_blank">@knight-ryu12</a>,
                            <a href="https://github.com/saibotu" rel="noreferrer" target="_blank">@saibotu</a>, and anyone who has used the service for testing and finding bugs!</li>
                        <li>All Seedhelper miners</li>
                    </ul><br/>
					Additional BruteforceMovable Credits:
					<ul>
					<li>
                            <a href="https://github.com/Mike15678" rel="noreferrer" target="_blank">@Mike15678</a> for his work on the autolauncher script and additions to seedminer and bfcl to make mining more efficient</li>
                        </li>
					<li>
                            <a href="#">@RandalHoffman</a> for providing the part1dumper service</li>
                        </li>
					<li>
                            All BruteforceMovable miners and everyone who helped out testing and improving the site.
                        </li>
					</ul>
					So long, and thanks for all the seeds.
					</center>
                </div>
    
</main>


<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/script.js?v2.1.9"></script>
<script>
jQuery(function () {
if (document.referrer.match(/^https?:\/\/([^\/]+\.)?youtube\.com(\/|$)/i) || 
 document.referrer.match(/^https?:\/\/([^\/]+\.)?jacksorrell\.tv(\/|$)/i) ||
 document.referrer.match(/^https?:\/\/([^\/]+\.)?youtu\.be(\/|$)/i)) {
  jQuery('#vguideModal').modal();
}

});
</script>
{% endblock %}
